@font-face {
  font-family: 'Flexo';
  src: url("../fonts/Flexo/Flexo-Regular.otf");
}
* {
  font-family: 'Flexo';
}
h1{
  color: #eb6363 ;
}
.pre-load{
  background-color: #E5E4E4;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-input{
  position: relative;
}
.input-search{
  padding-left: 50px;
}
.search{
  position: absolute;
  left: 5px;
  top: 5px;
}
.az{
  display: inline-block;
  background-color: rgb(26, 89, 33);
  float: right;
  color: #fff;
  width: 60px;
  text-align: center;
}
.box{
  padding: 10px;
}
.box-gray{
  background-color: rgb(233, 233, 233);
  margin-bottom: 20px;
  padding-top: 10px;
  /*position: relative;*/
}
.box-img{
  padding: 10px;
  text-align: center;
}
.box-img img{
  height:130px;
}
.div-absolute{
  background-image: url(../img/trapecio.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 10px;
  background-size: contain;
  text-align: center;
}
.icon-pokemon{
  width: 20px;
  height: 20px;
  margin: 20px 5px 0 5px;
}
.name-pokemon{
  margin-top: 0;
  text-transform: capitalize;
}
.h2-pokemon{
  display: inline-block;
  color: black;
  text-transform: capitalize;
}
.modal-close{
  float: right;
}
.div-celeste{
  background-color: rgb(54, 164, 211);
  color: #fff;
  font-size: 0.8rem;
}
.div-celeste p{
  margin-top: 3px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.box-green{
  background-color: rgb(116, 182, 146);
  color: #fff;
}
.box-orange,
.box-green{
  margin-right: 5px;margin-right: 5px;
  text-transform: capitalize;
}
.box-orange{
  background-color: rgb(242, 154, 82);
  color: #fff;
}
.mt0{
  margin-top: 0;
}

@media (max-width:680px) {
  .div-absolute{
    top: 16px;
  }
  .h2-pokemon{
    font-size: 1.5rem;
  }
}
